<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Products List</title>

    {{!-- NAVBAR CSS
    <link rel="stylesheet" href="/styles/navbar.css">

    GENERAL CSS
    <link rel="stylesheet" href="/styles/style.css"> --}}
    {{> generalcss}}

    <style>
        .product-list{
            display: flex;
            justify-content: space-around;
            border: 1px solid black;
            padding: 10px;
            width: 80%;
            margin: auto;
        }

        .product-item{
            border: 1px solid black;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 5px 10px 10px #ccc;
        }

        .category{
            width: 100%;
        }
    </style>
</head>
<body>
    {{> navbar}}
    <h1>Welcome to the Admin Products List</h1>
    <div class="category">
        {{#each products as |category|}}
            <div>{{@key}}</div>
            <div class="product-list">
                {{#each category as |p|}}
                    <div class="product-item">
                        <div  class="my-product-image">
                            <img src={{p.imageUrl}}>
                        </div>
                        <br>
                        <h4>Name: {{p.name}}</h4>
                        <h4>Price: {{p.price}}</h4>
                        <h4>Description: {{p.description}}</h4>
                        <h4>Seller: {{p.seller}}</h4>
                        <div class="button-group">
                            <a href="/admin/products/update/{{p._id}}">
                                <button>📝</button>
                            </a>
                            <a href="/admin/products/delete/{{p._id}}">
                                <button>🗑️</button>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</body>
</html>